@model IEnumerable<BerrasBio.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index/All Booked movies</h1>

@*<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
            <td>
                @(item.Movie.Price * @item.AmountOfTickets)
                @*@Html.DisplayFor(modelItem => item.Movie.Price)*@
            </td>
            <td>
                <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Cancel Booking</a>
            </td>
        </tr>
}
    </tbody>
</table>
